<!--<footer class="page-footer">-->
<!--  <div class="container-fluid">-->
<!--    <p>Contact</p>-->
<!--    <ul id="contact">-->
<!--      <li>Telephone Number: +1-310-567-7102</li>-->
<!--      <li>Email: youthalliancefortheplanet@gmail.com</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</footer>-->

      <div id="footer">
        <p>© 2020 Youth Alliance for the Planet | All rights reserved. &nbsp; &nbsp;
          Telephone Number: +1-310-567-7102 &nbsp; &nbsp;
          Email: youthalliancefortheplanet@gmail.com </p>
      </div>
