<div class="text">
  <h1>Go Follow Our Instagram!</h1>
  <h3>Click on the image below!</h3>
</div>
<div class="container">
  <a href="https://www.instagram.com/youthalliancefortheplanet/" target="_blank">
    <!--_blank opens in a new tab-->
    <img src="assets/img/youth_alliance_for_the_planet.jpg" alt="instaPost" class="center">
  </a> <!--a encapsulates all that is linked-->
  <div class="rectangle">
    <p>Liquid Nanoclay is a game-changing development by the Norwegian company, Desert Control,
      that turns dry desert land into agricultural land. The Nanoclay contains just clay and water
      and can be sprayed on desert sand to increase the water holding ability and nutrients in the soil.
      In fact, each batch of Liquid Nanoclay contains the Mychorrizal Fungi to kickstart the growth of
      seeds. According to Desert Control, the soil will become fully farmable in only seven hours
      after the application of the Liquid Nanoclay. Furthermore, the soil will last for 5 years
      and can reduce water usage by 50-65% compared to the previous methods of agriculture. This
      innovation could potentially revolutionize agriculture because desert countries in the Middle
      East and Northern Africa can lessen their dependence on foreign countries for food and bolster
      their economy.
      Sources:
      https://www.instagram.com/p/CHyWMz9HpEL/
      https://www.desertcontrol.com
      #liquidnanoclay #soil #desert #desertification #DesertControl #agriculture #clay #water #fungi #seeds #farm #innovation #economy #Africa #MiddleEast</p>
  </div>
</div>
